<h1 class="page-header"> Here are your bands: </h1>

<ul>
  <% @bands.each do |band|  %>
  <li> <a href="<%= band_url(band) %>"> <%= band.name %> </li>
  <% end  %>
</ul>

<a class="button" href="<%= new_band_url %>"> Add a New Band </a>
